/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// variables
$pageBackground: #252525;
$navBackground: #1a1a1a;
$ctaButton: #00a651;
$ctaButtonAccent: #00803e;
$sectionHeader1: #ff7d7d;
$sectionHeader2: #7cadff;
$sectionHeader3: #be7dff;
$sectionHeader4: #7dff7d;
$footerBackground: #0d0d0d;

//for calculations
$navHeight: 70px;
$padding: 10px;

//typography
h1 {
	font-size: 4.5em;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	@extend h1;
	font-size: 3.75em;
}
h3 {
	@extend h1;
	font-size: 2.25em;
}
p,
blockquote,
label {
	font: {
		family: "baskerville-urw", serif;
		size: 1.25em;
	}
	line-height: 1.25em;
	word-spacing: 1px;
	letter-spacing: 1px;
}

body {
	font: {
		family: "futura-pt", sans-serif;
		size: 16px;
		weight: normal;
	}
	color: #fff;
	background-color: $pageBackground;
}

section > * {
	max-width: 1280px;
	margin: 0 auto;
}

.navOuterWrapper {
	position: fixed;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	width: 100%;
	padding: $padding ($padding * 2);
	box-sizing: border-box;
	z-index: 100;
}

	.homeLink {
		display: block;
	}

		#homeIcon {
			width: 92px;
		}

	.mobileMenuButton {
		display: none;

		&:before {
			content: '\f0c9';
			font-family: FontAwesome;
			font-size: 1.5em;
			cursor: pointer;
		}
	}

	.navInnerWrapper {
		-webkit-align-self: center;
		align-self: center;

		.navItem {
			float: left;
			font-size: 1.5em;

			+ * {
				margin-left: 20px;
			}

			a:link, a:visited {
				color: #fff;
				text-decoration: none;
			}
		}
	}

.splashBackgroundWrapper {
	width: 100%;
	max-width: none;
	height: 100vh;
	background-image: url(../images/splash-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
  	content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.75;
  }
}
	.splashTextWrapper {
    position: absolute;
    width: 100%;
    max-width: none;
    left: 50%;
    top: calc(50% + #{$padding * 7});
    transform: translate(-50%, calc(-50% - (#{$padding * 7} / 2)));
    text-align: center;
	}
	.ctaButtonOuterWrapper {
		text-align: center;
		width: 80%;
		max-width: 430px;
		margin: 100px auto 0;
		border-top: 1px solid #fff;
		padding-top: 100px;
	}
		.ctaButtonInnerWrapper {
			display: inline-block;
			background-color: $ctaButton;
			border-bottom: 4px solid $ctaButtonAccent;

			a:link, a:visited {
				display: inline-block;
				color: #fff;
				font-size: 2.5em;
				line-height: 1em;
				text-decoration: none;
				padding: 4px 20px;
			}
		}

.sectionHeaderWrapper {
	padding-top: ($padding * 3) + $navHeight;
	margin-bottom: $padding * 4;

	.headerDescription {
		margin-top: $padding * 2;
	}
}

#services {
	.sectionHeaderWrapper,
	.servicesBlockWrapper {
		width: 80%;
	}

	h2 {
		color: $sectionHeader1;
	}
}
#events {
	h2 {
		color: $sectionHeader2;
	}
}
#media {
	h2 {
		color: $sectionHeader3;
	}
}
#contact {
	h2 {
		color: $sectionHeader4;
	}
}

.servicesBlockWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: ($padding * 9) auto 0;
}
	.servicesBlock {
		flex: 1 0;

		img {
			display: block;
			margin: 0 auto;
			max-width: 260px;
		}

		&:nth-child(2) {
			margin: 0 $padding * 4;
		}
	}

.testimonialSection {
	position: relative;
	margin: ($padding * 10) 0 0;
	height: 350px;

	.testimonialBackgroundWrapper {
		width: 100%;
    max-width: none;
    height: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:before {
    	content: '';
    	display: block;
    	width: 100%;
    	height: 100%;
    	background-color: #000;
    	opacity: 0.75;
    }

    &#testimonialBackgroundWrapper1 {
			background-image: url(../images/testimonial-image1.jpg);
		}
		&#testimonialBackgroundWrapper2 {
			background-image: url(../images/testimonial-image2.jpg);
		}
		&#testimonialBackgroundWrapper3 {
			background-image: url(../images/testimonial-image3.jpg);
		}
	}
}
	
	.testimonialText {
		position: absolute;
		font-size: 1.5em;
		line-height: 1.2em;
		width: 40%;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		&:before {
			content: '\“';
	    display: block;
	    position: absolute;
	    left: -50px;
	    font-size: 3em;
		}

		.testimonialByline {
			display: block;
			margin-top: $padding;
		}
	}

#events {
	#calendar {
		width: 60%;
		margin: ($padding * 3) auto 0;

		th,
		td {
			border-width: 5px;
		}

		.fc-toolbar {
			border: 5px solid #fff;
			border-bottom: 0;
			margin-bottom: 0;
			padding: 5px 0;

			h2 {
				font-size: 2.5em;
				color: #fff;
				text-transform: capitalize;
			}

			button.fc-button {
				background: 0;
				box-shadow: none;
				border: 0;
				height: 3em;
				padding: 0;

				&:focus {
					outline: none;
				}

				.fc-icon {
					color: #fff;
					background: 0;
					width: 3em;
					height: 3em;
					margin: 0;

					&:after {
						top: 0;
						font: {
							size: 3em;
							weight: 100;
						}
						line-height: 1em;
						margin: 0;
					}
				}
			}
		}

		.fc-day-header {
			font-size: 1.25em;
			padding: 10px;
			opacity: 0.3;
		}

		.fc-day-number {
			font-size: 1.5em;
			padding: 5px;
		}

		// .fc td,
		// .fc th {
		// 	border-width: 5px;
		// }

		// .fc-ltr .fc-basic-view .fc-day-number {
		// 	font-size: 1.9em;
		// }

		// .fc-basic-view td.fc-day-number,
		// .fc-basic-view td.fc-week-number span {
		// 	padding: 5px;
		// }
	}

	.mobileView {
		display: none;
	}

	.ctaButtonOuterWrapper {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}
}

#media .sectionHeaderWrapper {
	margin-bottom: $padding * 4;
}

	.imageGallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a {
			flex: 0 0 300px;
			margin: 10px;

			img {
				width: 100%;
				opacity: 0.33;
				transition: opacity 0.2s ease-in-out;
		
				&:hover {
					opacity: 1;
				}
			}
		}
	}

#contactForm {
	width: 50%;
	margin: ($padding * 5) auto ($padding * 5) 20%;

	.contactFormSection {
		position: relative;

		&.error {
			label,
			input,
			textarea {
				color: $sectionHeader1;
				border-color: $sectionHeader1;
			}

			.errorMessage {
				display: block;
			}
		}

		+ * {
			margin-top: $padding * 4;
		}

		.errorMessage {
			display: none;
	    font-size: 1.5em;
	    line-height: 1em;
	    color: $sectionHeader1;
	    text-align: center;
			position: absolute;
	    left: 100%;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    width: 30%;
	    margin-left: 20px;
	    padding: 5px 10px;
	    border: 2px solid $sectionHeader1;

	    &:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 100%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					border: solid transparent;
				}

				&:before {
					border-right-color: $sectionHeader1;
					border-width: 18px;
				}

				&:after {
					border-right-color: $pageBackground;
					border-width: 15px;
				}
		}
	}

	#messageContactSection {
		margin-top: $padding * 10;
	}

	#submitContactSection {
		text-align: center;
		margin-left: 20%;

		button {
			font-family: "baskerville-urw", serif;
			font-size: 1.9em;
			line-height: 1em;
			color: $sectionHeader4;
			background: none;
			border: 2px solid $sectionHeader4;
			padding: ($padding * 1.5) ($padding * 5);
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&.disabled {
				color: #404040;
				border-color: #404040;
				cursor: not-allowed;
			}
		}
	}

	label {
		display: block;
		font-size: 1.9em;
		line-height: 1em;
		float: left;
		width: 20%;
	}

	input,
	textarea {
		font-family: "futura-pt", sans-serif;
		font-size: 1.6em;
		line-height: normal;
		color: #fff;
		background: none;
		border: none;
		border-bottom: 2px solid #fff;
		padding: 0;
		width: 80%;
		box-sizing: border-box;

		&:focus {
			outline: none;
		}
	}

	textarea {
		resize: none;
		border: 2px solid #fff;
		padding: $padding / 2;
	}
}

footer {
	background-color: $footerBackground;
	padding: ($padding * 2) 0;
	text-align: center;

	.copyright {
		font: {
			family: "futura-pt", sans-serif;
			size: 1em;
		}
		line-height: 1em;
		margin: $padding 0;
	}

	.byline {
		font-size: 1em;
		line-height: normal;

		a:link,
		a:visited {
			color: $sectionHeader2;
			text-decoration: none;
		}
	}
}

/***** Media Queries *****/
@media only screen and (max-width: 1280px) {
	#contactForm  {
		margin: 50px auto;

		label {
			float: none;
			width: 100%;
			margin-bottom: 10px;
		}

		input,
		textarea {
			width: 100%;
		}

		#messageContactSection {
			margin-top: 40px;
		}

		#submitContactSection {
			margin-left: 0;
		}
	}	
}

@media only screen and (max-width: 1024px) {
	.imageGallery {
		a {
			img {
				opacity: 1;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.mobileMenuButton {
		display: block;
	}

	.navInnerWrapper {
		display: none;
		text-align: center;
		background-color: $navBackground;
		width: 100%;
		position: absolute;
		top: $padding * 7;
		left: 0;

		.navItem {
			float: none;
			font-size: 1.25em;
			display: inline-block;
			padding: 10px;

			+ * {
				margin-left: 0;
			}
		}

		&.show {
			display: block;
		}
	}

	h1 {
		font-size: 2.5em;
	}

	.ctaButtonOuterWrapper {
		margin-top: 30px;
		padding-top: 30px;

		a:link, a:visited {
			font-size: 1.5em;
		}
	}

	.servicesBlock {
		flex: 1 0 100%;

		&:nth-child(2) {
			margin: 40px 0;
		}
	}

	.testimonialText {
		font-size: 1.25em;
		width: 70%;

		&:before {
			left: -30px;
			font-size: 2em;
		}
	}

	#events {
		.mobileView {
			display: block;
		}

		#calendar {
			display: none;
		}
	}

	#contactForm {
		width: 80%;

		.contactFormSection {
			.errorMessage {
				left: 0;
				transform: translateY(0);
				top: 100%;
				font-size: 1.15em;
				border: 0;
				width: 100%;
				padding: 5px 0 0;
				margin-left: 0;

				&:before, &:after {
					display: none;
				}
			}
		}
	}
}