@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
h2,
h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Program Files (x86)/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
h1, h2, h3 {
  font-size: 4.5em;
  text-transform: uppercase;
  text-align: center;
}

/* line 29, ../sass/screen.scss */
h2 {
  font-size: 3.75em;
}

/* line 33, ../sass/screen.scss */
h3 {
  font-size: 2.25em;
}

/* line 37, ../sass/screen.scss */
p,
blockquote,
label {
  font-family: "baskerville-urw", serif;
  font-size: 1.25em;
  line-height: 1.25em;
  word-spacing: 1px;
  letter-spacing: 1px;
}

/* line 49, ../sass/screen.scss */
body {
  font-family: "futura-pt", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background-color: #252525;
}

/* line 59, ../sass/screen.scss */
section > * {
  max-width: 1366px;
  margin: 0 auto;
}

/* line 64, ../sass/screen.scss */
.navOuterWrapper {
  position: fixed;
  background-color: #1a1a1a;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
}

/* line 71, ../sass/screen.scss */
.navInnerWrapper {
  float: right;
}

/* line 75, ../sass/screen.scss */
.navInnerWrapper .navItem {
  float: left;
  font-size: 1.5em;
  margin-right: 20px;
}
/* line 80, ../sass/screen.scss */
.navInnerWrapper .navItem a:link, .navInnerWrapper .navItem a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 86, ../sass/screen.scss */
.splashBackgroundWrapper {
  width: 100%;
  max-width: none;
  height: 100vh;
  background-image: url(../images/splash-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 95, ../sass/screen.scss */
.splashBackgroundWrapper:before {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.75;
}

/* line 104, ../sass/screen.scss */
.splashTextWrapper {
  position: absolute;
  width: 100%;
  max-width: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 113, ../sass/screen.scss */
.ctaButtonOuterWrapper {
  width: 430px;
  margin: 100px auto 0;
  border-top: 1px solid #fff;
  padding-top: 100px;
}

/* line 119, ../sass/screen.scss */
.ctaButtonInnerWrapper {
  display: inline-block;
  background-color: #00a651;
  border-bottom: 4px solid #00803e;
}
/* line 124, ../sass/screen.scss */
.ctaButtonInnerWrapper a:link, .ctaButtonInnerWrapper a:visited {
  display: inline-block;
  color: #fff;
  font-size: 2.5em;
  line-height: 1em;
  text-decoration: none;
  padding: 4px 20px;
}

/* line 134, ../sass/screen.scss */
.sectionHeaderWrapper {
  padding-top: 74px;
}
/* line 137, ../sass/screen.scss */
.sectionHeaderWrapper .headerDescription {
  margin-top: 20px;
}

/* line 143, ../sass/screen.scss */
#services .sectionHeaderWrapper,
#services .servicesBlockWrapper {
  width: 80%;
}
/* line 148, ../sass/screen.scss */
#services h2 {
  color: #ff7d7d;
}

/* line 153, ../sass/screen.scss */
#events h2 {
  color: #7cadff;
}

/* line 158, ../sass/screen.scss */
#media h2 {
  color: #be7dff;
}

/* line 163, ../sass/screen.scss */
#contact h2 {
  color: #7dff7d;
}

/* line 168, ../sass/screen.scss */
.servicesBlockWrapper {
  overflow: hidden;
  margin: 90px auto 0;
}

/* line 172, ../sass/screen.scss */
.servicesBlock {
  float: left;
  width: 25%;
}

/* line 176, ../sass/screen.scss */
.servicesBlock:nth-child(2) {
  padding: 0 12.5%;
}

/* line 179, ../sass/screen.scss */
.servicesImage {
  position: relative;
  width: 273px;
  height: 273px;
  margin: 40px 0;
}
/* line 185, ../sass/screen.scss */
.servicesImage:before {
  content: '';
  display: block;
  width: 100%;
  height: 273px;
  background-image: url(../images/services-icons-sprite.svg);
  background-repeat: no-repeat;
  background-size: 80% auto;
}

/* line 195, ../sass/screen.scss */
.lightingImage:before {
  background-position: center 5px;
}

/* line 198, ../sass/screen.scss */
.soundImage:before {
  background-position: center -365px;
}

/* line 201, ../sass/screen.scss */
.djImage:before {
  background-position: center -665px;
}

/* line 205, ../sass/screen.scss */
.testimonialSection {
  position: relative;
  margin: 100px 0 0;
  height: 350px;
}
/* line 210, ../sass/screen.scss */
.testimonialSection .testimonialBackgroundWrapper {
  width: 100%;
  max-width: none;
  height: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 218, ../sass/screen.scss */
.testimonialSection .testimonialBackgroundWrapper:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
}
/* line 227, ../sass/screen.scss */
.testimonialSection .testimonialBackgroundWrapper#testimonialBackgroundWrapper1 {
  background-image: url(../images/testimonial-image1.jpg);
}
/* line 230, ../sass/screen.scss */
.testimonialSection .testimonialBackgroundWrapper#testimonialBackgroundWrapper2 {
  background-image: url(../images/testimonial-image2.jpg);
}
/* line 233, ../sass/screen.scss */
.testimonialSection .testimonialBackgroundWrapper#testimonialBackgroundWrapper3 {
  background-image: url(../images/testimonial-image3.jpg);
}

/* line 239, ../sass/screen.scss */
.testimonialText {
  position: absolute;
  font-size: 1.5em;
  line-height: 1.2em;
  width: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 249, ../sass/screen.scss */
.testimonialText:before {
  content: '\“';
  display: block;
  position: absolute;
  left: -50px;
  font-size: 3em;
}
/* line 257, ../sass/screen.scss */
.testimonialText .testimonialByline {
  display: block;
  margin-top: 10px;
}

/* line 263, ../sass/screen.scss */
#calendar {
  width: 60%;
  margin: 30px auto 0;
}
/* line 267, ../sass/screen.scss */
#calendar th,
#calendar td {
  border-width: 5px;
}
/* line 272, ../sass/screen.scss */
#calendar .fc-toolbar {
  border: 5px solid #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 5px 0;
}
/* line 278, ../sass/screen.scss */
#calendar .fc-toolbar h2 {
  font-size: 2.5em;
  color: #fff;
  text-transform: capitalize;
}
/* line 284, ../sass/screen.scss */
#calendar .fc-toolbar button.fc-button {
  background: 0;
  box-shadow: none;
  border: 0;
  height: 3em;
  padding: 0;
}
/* line 291, ../sass/screen.scss */
#calendar .fc-toolbar button.fc-button:focus {
  outline: none;
}
/* line 295, ../sass/screen.scss */
#calendar .fc-toolbar button.fc-button .fc-icon {
  color: #fff;
  background: 0;
  width: 3em;
  height: 3em;
  margin: 0;
}
/* line 302, ../sass/screen.scss */
#calendar .fc-toolbar button.fc-button .fc-icon:after {
  top: 0;
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
}
/* line 315, ../sass/screen.scss */
#calendar .fc-day-header {
  font-size: 1.25em;
  padding: 10px;
  opacity: 0.3;
}
/* line 321, ../sass/screen.scss */
#calendar .fc-day-number {
  font-size: 1.5em;
  padding: 5px;
}

/* line 341, ../sass/screen.scss */
#media .sectionHeaderWrapper {
  margin-bottom: 40px;
}

/* line 345, ../sass/screen.scss */
.imageRow {
  overflow: hidden;
}
/* line 348, ../sass/screen.scss */
.imageRow img {
  float: left;
  width: 23%;
  margin: 0 1% 2%;
  box-sizing: border-box;
  opacity: 0.33;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
/* line 357, ../sass/screen.scss */
.imageRow img:hover {
  opacity: 1;
}

/* line 363, ../sass/screen.scss */
#contactForm {
  width: 50%;
  margin: 50px auto 50px 20%;
}
/* line 367, ../sass/screen.scss */
#contactForm .contactFormSection {
  position: relative;
}
/* line 371, ../sass/screen.scss */
#contactForm .contactFormSection.error label,
#contactForm .contactFormSection.error input,
#contactForm .contactFormSection.error textarea {
  color: #ff7d7d;
  border-color: #ff7d7d;
}
/* line 378, ../sass/screen.scss */
#contactForm .contactFormSection.error .errorMessage {
  display: block;
}
/* line 383, ../sass/screen.scss */
#contactForm .contactFormSection + * {
  margin-top: 40px;
}
/* line 387, ../sass/screen.scss */
#contactForm .contactFormSection .errorMessage {
  display: none;
  font-size: 1.5em;
  line-height: 1em;
  color: #ff7d7d;
  text-align: center;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  margin-left: 20px;
  padding: 5px 10px;
  border: 2px solid #ff7d7d;
}
/* line 403, ../sass/screen.scss */
#contactForm .contactFormSection .errorMessage:before, #contactForm .contactFormSection .errorMessage:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: solid transparent;
}
/* line 414, ../sass/screen.scss */
#contactForm .contactFormSection .errorMessage:before {
  border-right-color: #ff7d7d;
  border-width: 18px;
}
/* line 419, ../sass/screen.scss */
#contactForm .contactFormSection .errorMessage:after {
  border-right-color: #252525;
  border-width: 15px;
}
/* line 426, ../sass/screen.scss */
#contactForm #messageContactSection {
  margin-top: 100px;
}
/* line 430, ../sass/screen.scss */
#contactForm #submitContactSection {
  text-align: center;
  margin-left: 20%;
}
/* line 434, ../sass/screen.scss */
#contactForm #submitContactSection button {
  font-family: "baskerville-urw", serif;
  font-size: 1.9em;
  line-height: 1em;
  color: #7dff7d;
  background: none;
  border: 2px solid #7dff7d;
  padding: 15px 50px;
  cursor: pointer;
}
/* line 444, ../sass/screen.scss */
#contactForm #submitContactSection button:focus {
  outline: none;
}
/* line 448, ../sass/screen.scss */
#contactForm #submitContactSection button.disabled {
  color: #404040;
  border-color: #404040;
  cursor: not-allowed;
}
/* line 456, ../sass/screen.scss */
#contactForm label {
  display: block;
  font-size: 1.9em;
  line-height: 1em;
  float: left;
  width: 20%;
}
/* line 464, ../sass/screen.scss */
#contactForm input,
#contactForm textarea {
  font-family: "futura-pt", sans-serif;
  font-size: 1.6em;
  line-height: 1em;
  text-indent: 5px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0;
  width: 80%;
  box-sizing: border-box;
}
/* line 478, ../sass/screen.scss */
#contactForm input:focus,
#contactForm textarea:focus {
  outline: none;
}
/* line 483, ../sass/screen.scss */
#contactForm textarea {
  resize: none;
  border: 2px solid #fff;
}

/* line 489, ../sass/screen.scss */
footer {
  background-color: #0d0d0d;
  padding: 20px 0;
  text-align: center;
}
/* line 494, ../sass/screen.scss */
footer .siteMap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;
}
/* line 500, ../sass/screen.scss */
footer .siteMap li a:link,
footer .siteMap li a:visited {
  color: #fff;
  font-size: 1.9em;
  text-decoration: none;
}
/* line 508, ../sass/screen.scss */
footer .copyright {
  font-family: "futura-pt", sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 10px 0;
}
/* line 517, ../sass/screen.scss */
footer .byline {
  font-size: 1.3em;
  line-height: 1.3em;
}
/* line 521, ../sass/screen.scss */
footer .byline a:link,
footer .byline a:visited {
  color: #fff;
  text-decoration: none;
}
